<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="btn-link">
      <a class="github-button" href="https://github.com/webcat12345" data-size="large" data-show-count="true" aria-label="Follow @webcat12345 on GitHub">Follow @webcat12345</a>
  </div>
  <div class="btn-link">
    <a class="github-button" href="https://github.com/webcat12345/schema-form-demo/fork" data-size="large" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork webcat12345/schema-form-demo on GitHub">Fork</a>
  </div>
  <div class="btn-link">
    <a class="github-button" href="https://github.com/webcat12345/schema-form-demo/fork" data-size="large" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork webcat12345/schema-form-demo on GitHub">Fork</a>
  </div>
  <div class="btn-link">
    <a class="github-button" href="https://github.com/webcat12345/schema-form-demo/issues" data-size="large" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Issue webcat12345/schema-form-demo on GitHub">Issue</a>
  </div>
  <div class="btn-link">
    <a class="github-button" href="https://github.com/webcat12345/schema-form-demo/archive/master.zip" data-size="large" data-icon="octicon-cloud-download" aria-label="Download webcat12345/schema-form-demo on GitHub">Download</a>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <app-form-builder></app-form-builder>
  </div>

</main><!-- /.container -->
